.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__text > .fas {
  font-size: 14px;
  margin-left: 7px;
}

.header__chat-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__chat-icon .fas {
  margin-left: -5px;
  background-color: white;
  border-radius: 100%;
}

.header__chat-icon .far {
  margin-left: 15px;
  font-size: 22px;
}

.header__chat-icon .fas {
  font-size: 11px;
}
