.main__header.header-more {
  height: 100px;
}

.main__chat-box {
  margin-top: 100px;
  padding: 0px 25px;
}

.more-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px;
}

.main__make {
  background-color: #f8f8f8;
  margin-top: 20px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 15px;
  position: relative;
}

.make__mail,
.make__sch {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #686767;
  cursor: pointer;
}

.make__icon {
  font-size: 25px;
}

.make__text {
  font-size: 14px;
  margin-left: 10px;
  color: black;
}

.make__division {
  position: absolute;
  height: 25px;
  width: 1px;
  background-color: #dddddd;
}

.main__icon-box {
  width: 100%;
  /* padding: 0px 10px; */
}

.icon-list {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  line-height: 3;
}

.icon-list__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #686767;
  width: 60px;
  position: relative;
  cursor: pointer;
}

.icon-list__text {
  font-size: 14px;
}

.icon-list__dot {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  right: 10px;
  top: -6px;
}
